<div class="container">
  <h2>Add a Problem</h2>
  <div>
    <form #formRef = "ngForm">
    
      <div class="form-group">
        <label for="problemName">Problem Title</label>
        <input name = "problemName" id="problemName" class="form-control"
          type="text" required placeholder="Please enter problem title" 
          [(ngModel)] = "newProblem.name">
      </div>

      <div class="form-group">
        <label for="problemDesc">Description</label>
        <textarea name = "problemDesc" id="problemDesc" class="form-control"
          placeholder="Please enter problem description" 
          [(ngModel)] = "newProblem.desc" rows="3">
        </textarea>
      </div>

      <div class="form-group">
        <label for="problemDifficulty">Difficulty</label> 
        <select class="form-control" id="difficulty" name="difficulty"
          [(ngModel)] = "newProblem.difficulty">
            <option *ngFor = "let difficulty of difficulties" [value] = "difficulty">
              {{difficulty}}
            </option>
        </select>
      </div>

      <div class="row">
        <div class = "col-md-12">
          <button type="submit" class="btn btn-primary pull-right" routerLink="/problems"
            (click) = "addProblem()">
              Add problem
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<br/>
<br/>