<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <font color="#ffffff"><b>myLeetCode</b></font>
        </a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="active">
            <a href="#" routerLink="/problems">
              Problems <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Difficulty <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a *ngFor = "let difficulty of difficulties">
                  {{difficulty}}
                </a>
              </li>
            </ul>
          </li>

          <li><a routerLink="/newProblem">Add Problem</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Manage <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/newProblem">Add problems</a></li>
              <li><a>Edit problems</a></li>
              <li><a>Delete problems</a></li>
            </ul>
          </li> -->

        </ul>

        <form class="navbar-form navbar-left" (ngSubmit)="searchProblems()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Please enter keywords"
              [formControl]="searchBox" [(ngModel)]="searchInput">
          </div>
          <button type="submit" class="btn btn-default" (click)="searchProblems_btn()">
              Search
          </button>
        </form>

        <!-- <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              My Account<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Sign out</a></li>
            </ul>
          </li>
        </ul> -->

        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="auth.login()" *ngIf="!auth.isAuthenticated()">Login</a></li>
          <li><a (click)="auth.login()" *ngIf="auth.isAuthenticated()">Profile</a></li>
          <li><a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Logout</a></li>
        </ul>

      </div>
    </div>
  </nav>